body{
    background: #1F1F34;
    margin: 0;
    padding: 0;
}
/*----- MENU ----*/
#menu{
    margin-top: 5px;
    background: #1F1F2F;
    width: 100%;


    position: fixed;
    right: 0;
    top: 0;
    margin: 0;
}

#menu-content{
    /* border: yellowgreen solid 1px; */
    width: 70%;
    display: flex;
    justify-content: space-between;

    
    margin-left: auto;
    margin-right: auto;
}

#menu a{
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}
#menu a:hover{
    text-decoration: underline;
}

#menu-left{
    /* border: yellowgreen solid 1px; */
    display: flex;
    margin-right: 50px;
    justify-content: space-between;
    align-items: center;
    width: 12%;
}

/*----- HOME ----*/
.iconify{
    color: #fafafa;
    font-size: 50px;
    padding-left: 5px;
    margin-top: 25px;
}

#home{
    text-align: center;
    font-family: 'Red Rose', normal;

    margin-top: 15%;

    /* border: yellowgreen solid 1px; */
}

#home h1{
    /* font-family: 'Red Rose', normal; */
    font-weight: normal;
    font-size: 4.5rem;

    margin: 0;
    color: #FAFAFA;
}

#home p{
    /* font-family: 'Red Rose', normal; */
    font-weight: 300;
    font-size: 2rem;

    margin: 0;
    color: #FAFAFA;
}

#social ul{
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    padding: 0;
}

#social ul li{
    color: #FAFAFA;
    padding-left: 10px;
}

/*----- ABOUT ----*/
#about{
    
    text-align: center;
    font-family: 'Red Rose', normal;

    margin-top: 25%;
    margin-bottom: 25%;

}

#about h1{
    font-weight: normal;
    font-size: 4rem;

    margin: 0;
    color: #FAFAFA;
}

#about p{
    font-weight: 300;
    font-size: 1.4rem;

    margin: 0;
    color: #FAFAFA;
    width: 40%;
    text-align: center;
    line-height: 44px;
    margin-left: auto;
    margin-right: auto;
}